*{
	margin:0px;
	padding:0px;
}
#world{
	width:402px;
	margin:auto;
	padding-top: 20px;
	height: 422px;
}
.wall{
	width: 40px;
	height: 40px;
	background-color: blue;
	display: inline-block;
	margin-bottom: -4px;
}
.ground{
	width: 40px;
	height: 40px;
	background-color: black;
	display: inline-block;
	vertical-align: top;
}
.ground img{
	width: 30px;
}
#score{
	width: 390px;
	height: 35px;
	background-color: gray;
	color: white;
	padding:10px;
	margin:auto;
}